{
  "extends": [
    "onny"
  ],
//  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": false
  },
  "rules": {
    "no-underscore-dangle": 0,
    // not available in ES5
    "prefer-arrow-callback": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "func-names": 0
  }
}