{
  "extends": [
    "onny"
  ],
//  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": false
  },
  "rules": {
    "no-underscore-dangle": ["error", { "enforceInMethodNames": true }]
  }
}